@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}
@*main home page*@
<div class="text-center">
    <h1 class="display-4">
        The Joel Hilton Film Collection </h1>
        <img class ="img" src="~/img/JoelHiltonHeadshot.jpg" height="300"/>
    <p>I like movies</p>
</div>
<div class="text-align-center text-center">
    <a asp-controller="Home" asp-action="MoviesList">Click here to view Movie List</a>
</div>