@{
    ViewData["Title"] = "Movies";
}
<h1>@ViewData["Title"]</h1>
@*page that gives them the ability to go to the add movie form*@
<p>Thank you for wanting to help increase our movie database</p>
<div>


<a  asp-controller="Home": asp-action="FillOutApplication">Fill out form</a>
</div>